rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // Helper Functions
    function isSignedIn() {
      return request.auth != null;
    }

    // Size and Type validation
    function isValidImage() {
      return request.resource.size < 15 * 1024 * 1024 && request.resource.contentType.matches('image/.*');
    }

    function isValidPaymentProof() {
      return request.resource.size < 15 * 1024 * 1024 && request.resource.contentType.matches('image/.*|application/pdf');
    }

    // Public Assets
    match /{allPaths=**} {
      allow read: if true;
      allow write: if (isSignedIn() || true) && (isValidImage() || isValidPaymentProof());
    }

    // Payment Proofs
    match /payment_proofs/{fileName} {
      allow read: if true;
      allow create: if isValidPaymentProof();
      allow update, delete: if isSignedIn();
    }
  }
}
